Adds a little arrow on top of your fields, which allows you to collapse them. Works in the Current Card Editor, Browser, and the Add Cards dialogs.

<img src="https://gitlab.com/hengiesel/anki_collapsible_fields/-/raw/master/assets/demo.gif">

<b>Shortcuts</b>
All shortcuts are settable through "Tools &gt; Add-ons &gt; Collapsible Fields &gt; Config".
<ul><li><code>F10</code>: Toggle Collapsible status for current field</li><li><code>Shift+F10</code>: Uncollapse / Collapse all fields which are collapsed by default and non-empty</li></ul>
<b>Collapse by default</b>
You can set fields to collapse by default.
To enable this, open the editor, select "Fields", choose your field, and check "Collapse by default".

<b>Support</b>
If you like my add-ons, you can consider supporting me. My add-ons will always be freely available for everybody, but what I can offer you is my sincere thanks, and first-hand technical support, if you have any questions/issues with my add-ons. At the same time it allows me to put more time and focus into developing these and making them as powerful and user-friendly as they are. Thanks for considering!

<a href="https://ko-fi.com/hgiesel" rel="nofollow"><img src="https://i.imgur.com/V1lNWqQ.png"> ko-fi.com/hgiesel</a>
<a href="https://patreon.com/hgiesel" rel="nofollow"><img src="https://i.imgur.com/PYuJm9x.png"> patreon.com/hgiesel</a>
