.fname .collapse-icon {
  display: inline-block;
  width: 14px;
  height: 14px;

  margin-right: 5px;

  background-image: url('../icons/open-black.png');
  background-size: cover;
}

.nightMode .fname .collapse-icon {
  background-image: url('../icons/open-white.png');
}

.night_mode .fname .collapse-icon {
  background-image: url('../icons/open-white.png');
}

.is-collapsed .fname .collapse-icon {
  background-image: url('../icons/closed-black.png');
}

.nightMode .is-collapsed .fname .collapse-icon {
  background-image: url('../icons/closed-white.png');
}

.night_mode .is-collapsed .fname .collapse-icon {
  background-image: url('../icons/closed-white.png');
}

.is-collapsed + tr {
  display: none;
}
